@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

header {
  padding: 16px 0;
  background-color: #436343;
  color: #ECF0F1;
}

header,
section h2,
section h3,
form button {
  font-family: 'Bungee', cursive;
  font-weight: normal;
}

body, input, textarea {
  font-family: 'Roboto', sans-serif;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  color: #ECF0F1;
  text-decoration: none;
}

header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands-list img {
  height: 35px;
}

.social-links img {
  height: 24px;
}

.brands-list li {
  display: inline;
  margin-right: 8px;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 24px 0;
  color: #436343;
}

section h2 {
  margin-bottom: 16px;
}

section p {
  margin-bottom: 8px;
}

section#sobre .container {
  align-items: center;
}

section#sobre img.section-img {
  margin-left: 32px;
  width: 700px;
}

section#serviços h2 {
  text-align: center;
}

section#serviços .container {
  padding: 0 150px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 50px 0;
}

.services-list li {
  width: 150px;
  color: #000;
  padding: 6px;
  text-align: center;
}

.services-list li:nth-child(1) {
  background-color: #C7FFC7;
}

.services-list li:nth-child(2) {
  background-color: #B87D9A;
}

.services-list li:nth-child(3) {
  background-color: #C7FFC7;
}

.services-list li:nth-child(4) {
  background-color: #B87D9A;
}

.service-desc {
  padding: 0 8rem;
}

.social-links li {
  display: inline;
  margin-right: 8px;
}

.social-links li a {
  text-decoration: none;
}

#contact .container {
  display: block;
}

#contact h2 {
  text-align: center;
}

.contact-methods {
  display: flex;
  justify-content: center;
}

form input,
form textarea,
form button {
  display: block;
  width: 520px;
  margin-bottom: 8px;
  padding: 8px;
}

form button {
  background-color: #436343;
  color: #ECF0F1;
  border: none;
  border-radius: 0.25rem;
}

form button:hover {
  background-color: #89B089;
  cursor: pointer;
}

form textarea {
  resize: none;
  height: 180px;
}

input:focus, textarea:focus {
  outline-color: #436343;
}

section h3 {
  margin-bottom: 16px;
}

footer {
  background-color: #436343;
  color: #ECF0F1;
  padding: 16px 0;
  text-align: center;
}

footer address {
  font-size: 15px;
}

.footer-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-methods div {
  width: 50%;
}

.footer-methods div:first-child {
  text-align: left;
}

.footer-methods div:last-child {
  text-align: right;
}
